<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :area_id, value: params[:area_id] %> 
  </div>

  <div class="field">
    <%= form.hidden_field :point_wallet_id, value: @pointwallet_id %>


  </div>

  <div class="field">
    <%= form.label :check_in %>
    <%= form.datetime_select :check_in, id: :booking_check_in %>
  </div>

  <div class="field">
    <%= form.label :check_out %>
    <%= form.datetime_select :check_out, id: :booking_check_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
