<p id="notice"><%= notice %></p>


<%= link_to 'redeem coupon', new_promotion_point_wallet_purchased_coupon_path(@promotion, @point_wallet) if @current_user.class == User %>
<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Reward type:</strong>
  <%= @promotion.value %> <%= @promotion.reward_type %>
</p>

<p>
  <strong>Point:</strong>
  <%= @promotion.point %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Terms conditions:</strong>
  <%= @promotion.terms_conditions %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @promotion.valid_from %>
</p>

<p>
  <strong>Valid to:</strong>
  <%= @promotion.valid_to %>
</p>



<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
